{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="categories_list">
    <button class="new_category">
      <a href={% url 'admin_custom:category_create' %}>
        новая категория
      </a>
    </button>
        
    {% for object in objects %}
      <div class="category_record">
        <div class="category_name">
          {{ object.name|title }}
        </div>
        <div class="category_actions">
          <button>
            <a href={% url 'admin_custom:products' object.pk %}>
              товары категории
            </a>
          </button>
          <button>
            <a href={% url 'admin_custom:category_update' object.pk %}>
              редактировать
            </a>
          </button>
          <button>
            <a href={% url 'admin_custom:category_delete' object.pk %}>
              удалить
            </a>
          </button>
        </div>
        <div class="category_desc">
          {{ object.description|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}