{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="catalog">
    {% for category in categories %}
        <div class="block">
            <a href="{% url 'products:category' category.id %}"><img src="/media/{{ category.image }}" alt="{{ category.name }}" width="100"></a>
            <a href="{% url 'products:category' category.id %}" class="caption">подробнее</a>
        </div>
    {% endfor %}
</div>
<br>
<div class="description">
        <h3 class="big-bold">{{ hot_product.name }}</h3>
        <h3 class="red">горячее предложение</h3>
        <p class="price">{{ hot_product.price }} <span>руб</span></p>
        <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
          заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <div class="description-text">
          {{ hot_product.description }} 
        </div>
</div>

{% endblock %}