<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="index.html"><img src="/static/img/logotip.png" alt="logo" class="logotip"></a>
            <ul class="main-menu">
                <li class="menu-list"><a class="menu-link" href="/">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="/products/">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="/contact/">Контакты</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Каталог</h1>
            <div class="catalog">
                <div class="block">
                    <a href="page2.html"><img src="/static/img/0535934_1.jpg" alt="Сервер" width="100"></a>
                    <a href="page1.html" class="caption">подробнее</a>
                </div>
                <div class="block">
                    <a href="page1.html"><img src="/static/img/0513732_2.jpg" alt="intel i5" width="100"></a>
                    <a href="page1.html" class="caption">подробнее</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <footer class="footer-copyright">&copy; Все права защищены</footer>
        </div>
    </div>
</body>
</html>