{% extends 'mainapp/base.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
<h1>Напишите нам</h1>
<form action="">
    <fieldset>
        <input class="input-form" type="text" placeholder="Name"><br>
        <input class="input-form input-email" type="email" placeholder="ivan@mail.ru"><br>
        <input class="input-form" type="text" placeholder="Тема письма"><br>
        <textarea class="form-send-text" placeholder="Введите сюда ваше сообщение"></textarea><br>
        <button type="submit">Отправить</button>
    </fieldset>
</form>
<h1>Адрес</h1>
Телефон: 8-800-555-3535<br>
Адрес: г. Москва, улица Земляной Вал, 33<br>
Email: bezotveta@yandex.ru<br>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3da103d44204cf9426df5ef207a575dd0d8c3e2718788ccf89bb9b549ceb582d&amp;source=constructor" width="100%" height="374px" frameborder="0"></iframe>
{%  endblock %}