<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="index.html"><img src="img/logotip.png" alt="logo" class="logotip"></a>
            <ul class="main-menu">
                <li class="menu-list"><a class="menu-link" href="index.html">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="catalog.html">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>IT Trade</h1>
            <p>Мы занимаемся компьютерной и офисной техникой, а также мини-АТС более 25 лет, с 1992 года. За это время мы зарекомендовали себя как надежного партнера, строго выполняющего свои обязательства! </p>
        </div>
        <div class="footer">
            <footer class="footer-copyright">&copy; Все права защищены</footer>
        </div>
    </div>
</body>
</html>