<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="index.html"><img src="/static/img/logotip.png" alt="logo" class="logotip"></a>
            <ul class="main-menu">
                <li class="menu-list"><a class="menu-link" href="/">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="/products/">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="/contact/">Контакты</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Процессор Intel Core i5-8600K OEM</h1>
            <h2 class="head-description">Описание товара</h2>
            <div class="product-description">
                <a href="/static/img/0513732_2.jpg" target="_blank"><img class="image-description" src="/static/img/0513732_2.jpg"></a>
                <p class="short-description description-paragraph">Socket 1151 v2, 6-ядерный, 3200 МГц, Turbo: 4600 МГц, Coffee Lake-S, Кэш L2 - 1.5 Мб, Кэш L3 - 12 Мб, Intel UHD Graphics 630, 14 нм, 65 Вт</p>
            </div>
            <h2 class="head-description">Цена</h2>
            <div class="price">
                <p class="description-paragraph price-count"><b>22 000 руб</b></p>
                <button type="button" class="button_buy">Купить</button>
            </div>
            <h2 class="head-description">Характеристики товара</h2>
            <table class="description-table">
                <tbody>
                <tr>
                    <td>Производитель</td>
                    <td>Intel логотип Intel</td>
                </tr>
                <tr>
                    <td>Код производителя</td>
                    <td>CM8068403358316</td>
                </tr>
                <tr>
                    <td>Линейка</td>
                    <td>Core i7</td>
                </tr>
                <tr>
                    <td>Модель</td>
                    <td>8700</td>
                </tr>
                <tr>
                    <td>Socket</td>
                    <td>1151 v2</td>
                </tr>
                <tr>
                    <td>Ядро</td>
                    <td>Coffee Lake-S</td>
                </tr>
                <tr>
                    <td>Количество ядер</td>
                    <td>&nbsp;6</td>
                </tr>
                <tr>
                    <td>Частота поддерживаемой памяти</td>
                    <td>pc - 21300 (2667 МГц)</td>
                </tr>
                <tr>
                    <td>Технологии, команды и инструкции</td>
                    <td>MMX / SSE / SSE2 / SSE3 / SSSE3 / SSE4 / AES / AVX / AVX2 / BMI / BMI1 + BMI2<br>F16C / FMA3 / EM64T / NX / XD / VT-x / TBT 2.0 / MPX / SGX</td>
                </tr>
                <tr>
                    <td>Тепловыделение (TDP)</td>
                    <td>95 Вт</td>
                </tr>
                <tr>
                    <td>Тип упаковки</td>
                    <td>Oem</td>
                </tr>
                <tr>
                    <td>Дополнительно</td>
                    <td>Поддержка памяти Intel&reg; Optane&trade;</td>
                </tr>
                <tr>
                    <td>Разблокированный множитель</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Комплект поставки</td>
                    <td>Процессор</td>
                </tr>
                <tr>
                    <td>Размеры (Д х Ш х В)</td>
                    <td>37.5 мм х 37.5 мм х</td>
                </tr>
                <tr>
                    <td>Размеры упаковки</td>
                    <td>50 x 50 x 100 мм</td>
                </tr>
                <tr>
                    <td>Вес в упаковке</td>
                    <td>0.05 кг</td>
                </tr>
                <tr>
                    <td>Сайт производителя</td>
                    <td>www.intel.ru</td>
                </tr>
                <tbody>
            </table>
            <h2 class="head-description">Подробное описание товара</h2>
            <p class="full-description description-paragraph">Intel Core i5-8600K - шустрый шестиядерный процессор, который послужит отличной основой при создании мощной мультимедийной станции.</p>
            <p class="full-description description-paragraph">Множитель в данной модели разблокирован, что дает хороший простор для разгона. Если же вы не слишком хорошо разбираетесь в подобных вещах, то можете немного повысить производительность путем активации Turbo-режима.</p>                
            <p class="full-description description-paragraph">Процессор поддерживает широкий спектр фирменных технологий вроде Enhanced Intel Speedstep Technology и Enhanced Virus Protection.</p>                
            <p class="full-description description-paragraph">Приятным бонусом служит и встроенное графическое ядро, возможностей которого вполне хватит для выполнения базовых задач и запуска несложных с графической точки зрения игр.</p>
        </div>
        <div class="footer">
            <footer class="footer-copyright">&copy; Все права защищены</footer>
        </div>
    </div>
</body>
</html>