{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h1>{{ category.name }}</h1>
{% include 'mainapp/includes/inc_categories_menu.html' %}
<div class="catalog">
    <div class="category-products clearfix">
        {% for product in products %}
            <div class="block">
            <a href="{% url 'basket:add' product.pk %}">
                <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                <div class="text">
                <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }} </p>
                </div>
            </a>
            </div>
        {% endfor %}
    </div> 
</div>
{% endblock %}